html, body, .container {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
    border-top: 3px solid #c31;
    color: #333;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

::selection {
    background: #c31;
    text-shadow: none;
}

h1, h2 {
    line-height: 1.2;
    margin: 0;
    font-weight: normal;
}

h1 { font-size: 3em; }

h2 { font-size: 2em; }
